!!!
%html
  %head
    %title
      BentoBox
    %link{:href => "app.css", :rel => "stylesheet", :type => "text/css"}
    %script{src: "jquery.js"}
    %script{src: "jquery-ui.min.js"}
    %script{src: "jquery.color.js"}
    %script{src: "/app.js"}
  %body
    .main_container
      = yield
